<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>MINIMAL - Free Bootstrap 3 Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <script src="assets/jquery.min.js"></script>
  <script src="assets/modernizr.custom.js"></script>
  

  
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/javascripts/html5shiv.js"></script>
      <script src="assets/javascripts/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
    
  <!-- Menu -->
  <nav class="menu" id="theMenu">
    <div class="menu-wrap">
      <h1 class="logo"><a href="index.html#home">Minimal</a></h1>
      <i class="icon-remove menu-close"></i>
      <a href="#home" class="smoothScroll">Home</a>
      <a href="#about" class="smoothScroll">About</a>
      <a href="#portfolio" class="smoothScroll">Portfolio</a>
      <a href="#contact" class="smoothScroll">Contact</a>
      <a href="#"><i class="icon-facebook"></i></a>
      <a href="#"><i class="icon-twitter"></i></a>
      <a href="#"><i class="icon-dribbble"></i></a>
      <a href="#"><i class="icon-envelope"></i></a>
    </div>
    
    <!-- Menu button -->
    <div id="menuToggle"><i class="icon-reorder"></i></div>
  </nav>


  
  <!-- ========== HEADER SECTION ========== -->
  <section id="home" name="home"></section>
  <div id="headerwrap">
    <div class="container">
      <div class="logo">
        <%= image_tag("logo.png") %>
      </div>
      <br>
      <div class="row">
        <h1>FREAK FENCE</h1>
        <br>
        <h3>Hello, I'm a bouncer bot. I will shield you from freaky messages.</h3>
        <br>
        <br>
        <div class="col-lg-6 col-lg-offset-3">
        </div>
      </div>
    </div><!-- /container -->
  </div><!-- /headerwrap -->
  
  
  
  <!-- ========== ABOUT SECTION ========== -->
  <section id="about" name="about"></section>
  <div id="f">
    <div class="container">
      <div class="row">
        <h3>ABOUT ME</h3>
        <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
        
        <!-- INTRO INFORMATIO-->
        <div class="col-lg-6 col-lg-offset-3">
          <p>I am a full time message bouncer bot. I never sleep and never rest. My passion is to keep your inbox clean of freaks and creeps.</p>
          <p>You are in control of what you want to see and hear.</p>
          <p>You list key words and phrases that you want filtered. Messages containing those will be swiftly annihilated before they can depress your eyes and you lose hope in humans.</p>
          <p><a href="http://twitter.com/freakfence">Gossip on Twitter</a>. Try the demo account! Send a bad message and watch it get deleted. <a href="http://blacktie.co">Send freaky message</a></p>
          <p>I work for anything with an inbox. Usually I protect inboxes for social media and dating sites. My work is discreet and personal.</p>
          <p><button type="button" class="btn btn-warning">Sign up!</button></p>
        </div>                
      </div>
    </div><!-- /container -->
  </div><!-- /f -->
  

  <!-- ========== CAROUSEL SECTION ========== --> 
  <section id="portfolio" name="portfolio"></section>
  <div id="f">
    <div class="container">
      <div class="row centered">
        <h3>SOME PROJECTS</h3>
        <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
        
        <div class="col-lg-6 col-lg-offset-3">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active centered">
                <%= image_tag("c1.png", class: "img-responsive", alt: "App screengrab 1") %>
              </div>
              <div class="item centered">
                <%= image_tag("c2.png", class: "img-responsive", alt: "App screengrab 2") %>
              </div>
              <div class="item centered">
                <%= image_tag("c3.png", class: "img-responsive", alt: "App screengrab 3") %>
              </div>
            </div>
            <br>
            <br>
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
          </div>
        </div><!-- col-lg-8 -->
      </div><!-- row -->
    </div><!-- container -->
  </div>  <!-- f -->

  <!-- ========== CONTACT SECTION ========== -->
  <section id="contact" name="contact"></section>
  <div id="f">
    <div class="container">
      <div class="row">
        <h3>CONTACT THE WIZARD BEHIND THE BOT</h3>
        <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
        
        <div class="col-lg-6 col-lg-offset-3">
          <p>Sydney<br/>NSW, Australia<br/>+61 490 079 843</p>
          <p>wizard@freakfence.com</p>
          <p><button type="button" class="btn btn-warning">CONTACT THE WIZARD DIRECTLY</button></p>
        </div>
      </div>
    </div>
  </div>

  

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script src="assets/js/classie.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/smoothscroll.js"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>